body {
  margin: 0;
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.sub-div {
  border: 1px solid black;
  padding: 20px;
}
.input-style {
  background-color: white;
  border: 1px solid green;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}
.info-text > p {
  display: inline-block;
  font-weight: bold;
}
.btn-style{
  background-color: #429be4;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}
.btn-style:hover {
  cursor: pointer;
  background-color: green;
  transform: translateY(0.5px);
}