*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #17A2B8;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 0 20px;
  }
  
  .navbar-text {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar-button {
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: #17A2B8;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  /*  */
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper-out{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  background: #17A2B8;
}
::selection{
  color: #fff;
  background: #17A2B8;
}
.wrapper{
  width: 770px;
}
.typing-text , .content{
  padding: 35px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}
.wrapper .input-field{
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.wrapper .content-box{
  padding: 13px 20px 0;
  border-radius: 10px;
}
.content-box .typing-text{
  overflow: hidden;
  max-height: 256px;
}
.typing-text::-webkit-scrollbar{
  width: 0;
}
.typing-text p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}
.typing-text p span{
  position: relative;
}
.typing-text p span.correct{
  color: #56964f;
}
.typing-text p span.incorrect{
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}
.typing-text p span.active{
  color: #17A2B8;
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{ 
    opacity: 1; 
  }
}
.content-box .content{
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.content button, .submit-button{
  outline: none;
  border: none;
  width: 105px;
  color: #fff;
  padding: 8px 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background: #17A2B8;
  transition: transform 0.3s ease;
}
.content button:active{
  transform: scale(0.97);
}
.content .result-details{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - 140px);
  justify-content:space-around;
}
.result-details li{
  display: flex;
  height: 20px;
  list-style: none;
  position: relative;
  align-items: center;
}
.result-details li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #bfbfbf;
}
.result-details li p{
  font-size: 19px;
}
.result-details li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}
li span b{
  font-weight: 500;
}
li:not(:first-child) span{
  font-weight: 500;
}
@media (max-width: 745px) {
  .wrapper{
    padding: 20px;
  }
  .content-box .content{
    padding-top: 20px;
  }
  .content-box .typing-text{
    max-height: 100%;
  }
  .typing-text p{
    font-size: 19px;
    text-align: left;
  }
  .content button{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details{
    width: 100%;
  }
  .result-details li:not(:first-child){
    border-left: 0;
    padding: 0;
  }
  .result-details li p, 
  .result-details li span{
    font-size: 17px;
  }
}
@media (max-width: 518px) {
  .wrapper .content-box{
    padding: 10px 15px 0;
  }
  .typing-text p{
    font-size: 18px;
  }
  .result-details li{
    margin-bottom: 10px;
  }
  .content button{
    margin-top: 10px;
  }
}
/*  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-width: 500px;
}

.name-input{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}
/* Responsive styles */
@media (max-width: 768px) {
  .modal-content {
    margin: 10% auto;
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .modal-content {
    margin: 5% auto;
    max-width: 100%;
  }
}

.modal-content .name-input {
  margin-top: 20px;
}
/*  */
/* Modal container */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Modal content */
.modal-content {
  
  margin-top: 0px;

  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/* Close button */
.close-modal-button {
  background-color: #17A2B8;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

#leaderboard-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#leaderboard-list li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  font-size: 16px;
  line-height: 1.4;
  font-size: 18px;
}

#leaderboard-list li:nth-child(1) {
  font-size:30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#leaderboard-list li:nth-child(2) {
  font-size:25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#leaderboard-list li:nth-child(3) {
  font-size:20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#leaderboard-list li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#leaderboard-list li span {
  font-weight: bold;
  margin-right: 5px;
}

#leaderboard-list li .name {
  color: #333;
}

#leaderboard-list li .wpm {
  color: #555;
}
